/* איפוס כללי */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  font-family: 'Arial', sans-serif;
  direction: rtl;
  background: transparent;
}

/* כדי שהתוכן לא יטפס מתחת ל-Navbar */
.main-content {
  padding-top: 120px; /* אותו גובה כמו Navbar */
}
